@import './normalize.css';

:root {
  --navy-dark: #232132;
  --navy: #362747;
  --navy-light: #383553;
  --white: #d1cfc3;
  --full-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  font-size: 62.5%;
  background-color: var(--navy);
  color: var(--white);
}
