.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--navy-dark);
  padding: 20px;
}

.container h1 {
  word-break: break-all;
  margin: 0;
}

.container button {
  padding: 4px 8px;
  font-size: 0.8rem;
  border: 0;
  border-radius: 4px;
  background-color: var(--green);
  color: var(--navy-dark);
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 20px;
}

.container button:hover {
  transform: scale(0.9, 0.9);
  transition: 0.2s;
}
