.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h2,
.container h2 > span {
  font-size: 2rem;
}

.container span {
  font-size: 1.4rem;
}

.container time {
  color: var(--full-white);
  font-size: 1.6rem;
}
